{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Inicio{% endblock %}

{% block body %}
{{parent()}}
<div class="example-wrapper d-flex justify-content-center">
    {# {{ dump(posts)}}
    {% for post in posts%}
    {{ dump(post) }}
    {% endfor %} #}
    <div class="container d-flex justify-content-evenly">
        <section class="d-flex flex-column align-items-center container-posts py-5 my-3">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Publicar nuevo post
            </button>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="collapse collapse-div" id="collapseExample">
                {{ form_start(form) }}
                <div class="row p-2">
                    <div class="col-md-6 my-2">
                        {{ form_widget(form.title, {attr:{'placeholder':'Titulo', 'class':'form-control'}}) }}
                    </div>
                    <div class="col-md-6 my-2">
                        {{ form_widget(form.type, {attr:{'class':'form-control'}}) }}
                    </div>
                    <div class="col-md-12 my-2">
                        {{ form_widget(form.description, {attr:{'class':'form-control', 'placeholder': '¿Qué quieres
                        contar?'}}) }}
                    </div>
                    <div class="col-md-12 text-center">
                        {{ form_widget(form.file, {attr:{'class':'form-control my-2'}}) }}
                        {# {{ form_widget(form.Guardar, {attr:{'class':'my-2 btn btn-success', 'value':'Guardar'}}) }}#}
                    </div>

                </div>
                {{ form_end(form) }}
            </div>
            {% else %}
            <div class="collapse" id="collapseExample">
                <div class="alert alert-dark my-4 border m-3">
                    Si deseas publicar, por favor <a href="{{path('userRegistration')}}">Registrate</a> o
                    <a href="{{path('app_login')}}">inicia sesión</a>
                </div>
            </div>
            {% endif %}

            {% for post in posts%}
            <div class="post d-flex">
                <div class="d-flex flex-column align-items-start">
                    <h2>{{post.title}}</h2>
                    <p>Fecha de publicación: {{post.creation_date | date()}}</p>
                    <p>{{post.type}}</p>
                    <p>{{post.description}}</p>
                </div>

                <div class="file ml-auto ">
                    {% if post.file != null %}
                    <img src="{{asset('uploads/files/' ~ post.file)}}" alt="" width="100%">
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(posts) }}
            </div>
        </section>
        <section class="section-aside m-3 ml-auto d-flex justify-content-center align-items-center">
            <aside class="p-5 ">
                <h5>Aprendiendo a usar Symfony v6 y programar en php</h5>
                <p>¿Qué he aprendido?</p>
                <ul>
                    <li>Uso de librerias de Symfony</li>
                    <li>Manejo de bases de datos</li>
                    <li>Encriptación de contraseñas</li>
                    <li>Subir archivos</li>
                    <li>Creación de formularios</li>
                    <li>Enrutamiento de páginas</li>
                </ul>
            </aside>
        </section>
    </div>

</div>
{% endblock %}